// Libs
@import '~sass-mq';
@import '~normalize.css';

// Tools
// @import '~@freshheads/maatcss/tools/button-variant';
// @import '~@freshheads/maatcss/tools/fontello';

// // Generic
// @import '~@freshheads/maatcss/generic/reboot';
// @import '~@freshheads/maatcss/generic/toplevel';
// @import '~@freshheads/maatcss/generic/typography';

// Layout
@import '~@freshheads/maatcss/layout/container';
@import '~@freshheads/maatcss/layout/layout';
@import '~@freshheads/maatcss/layout/layout-sizing';
@import '~@freshheads/maatcss/layout/layout-align';

// // Components
// @import '~@freshheads/maatcss/components/button';
// @import '~@freshheads/maatcss/components/form';
// @import '~@freshheads/maatcss/components/form-choice';
// @import '~@freshheads/maatcss/components/form-select';

.App {
  text-align: center;
  .test{
    color: green;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
